body {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

* {
    box-sizing: border-box;
}

/* navbar start */
.navbar {
    background-color: rgb(24, 23, 23);
}

.logo {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    display: inline-block;
}

.logo:hover {
    color: rgb(139 217 217);
}

.nav {
    list-style-type: none;
    /* text-align: right; */
    display: inline;
    float: right;
    /* margin-right: 10px; */
}

.nav li {
    display: inline;
}

.nav li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
}

.nav li a:hover {
    color: rgb(78, 236, 139);
    text-decoration: none;
    /* margin-left: 25px; */
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(78, 236, 139);
}

/* navbar end */

/* banner strat */

.banner {
    display: flex;
    clear: both;
}

.banner-img {
    flex: 1;
    text-align: center;

}

.banner-img img {
    width: 500px;
    padding: 50px;
}

.banner-text {
    flex: 1;
    padding: 50px;
}

.add {
    background-color: cornflowerblue;
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
}

.add:hover {
    background-color: rgb(49, 116, 240);
}

.add a {
    text-decoration: none;
    color: white;
}


.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex: 1;
    height: auto;
}

.box img {
    width: 250px;
    height: 250px;
}

.box-in {
    background-color: aqua;
    margin: 20px 30px;
    text-align: center;
    border-radius: 10px;
}
.box-in:hover {
    background-color: rgb(0, 174, 255);
}

.box-in p {
    font-size: 20px;
    font-weight: bold;
}

.add-2 {
    background-color: rgb(24, 95, 226);
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    margin-left: 50px;
}

.add-2:hover {
    background-color: rgb(116, 49, 240);
}

.add-2 a {
    text-decoration: none;
    color: white;
}



.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #55a2e5;

}
.foot-1, .foot-2, .foot-3 {
    flex: 1;
    color: whitesmoke;
    margin: 50px;
}
.foot-1 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.foot-1 ul li a{
   text-decoration: none;
   color:whitesmoke
}
.foot-1 ul li a:hover{
    text-decoration: none;
    color:rgb(0, 0, 0)
 }
.foot-3 {
    text-align: center;
    padding-top: 30px;
}
.foot-3 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 .foot-3 ul li{
    display: inline;
 }
 .foot-3 ul li a img{
    width: 50px;
 }
 


/* media  */
@media (max-width: 1000px) {
    .banner-img img {
        width: 350px;
        padding: 20px;
    }

    .banner-text {
        padding: 10px;
    }
}

@media (max-width: 700px) {
    .banner-img img {
        width: 300px;
        padding: 10px;
    }

    .banner-text {
        padding: 5px;
    }

    .banner-text p {
        font-size: 13px;
    }
    
    .container {
        flex-wrap: wrap;
    }
    .box {
        flex: 1;
        height: auto;
    }
}

@media (max-width: 550px) {
    .logo {
        display: block;
        background-color: #3a3939;
        font-size: 40px;
        text-align: center;
    }

    .nav {
        list-style-type: none;
        text-align: center;
        display: block;
        padding: 20px;
        float: none;
        margin: 0;
    }

    .nav li {
        display: block;
        font-size: 22px;
        padding-bottom: 10px;
    }

    .banner {
        display: flex;
        flex-direction: column;
    }

    .banner-text {
        padding: 20px;
    }
    .banner-img img {
        width: 350px;
        padding: 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
    .footer {
        flex-direction: column;
    }
    .foot-1, .foot-2, .foot-3 {
        margin: 10px;
    }
}